CI_ENVIRONMENT = development

database.default.hostname = localhost
database.default.database = db_tiket_wisata_surabaya
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.port = 3306

# Google OAuth Login
google.clientId = YOUR_GOOGLE_CLIENT_ID
google.clientSecret = YOUR_GOOGLE_CLIENT_SECRET
google.redirectUri = http://localhost:8080/login/google/callback
